<!-- <h1>hello test </h1>
<p>log works!</p>
<div class="container">
    <h1>Log Dashboard</h1>
    <table  class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Function</th>
          <th>Timestamp</th>
          <th>Severity</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logs">
          <td>{{ log.id }}</td>
          <td>{{ log.function }}</td>
          <td>{{ log.timestamp }}</td>
          <td>{{ log.severity }}</td>
          <td>{{ log.msg }}</td>
        </tr>
      </tbody>
    </table>
    
  </div> -->
  <h1>hello test </h1>
  <p>log works!</p>
  
  <div class="container">
    <h1>Log Dashboard</h1>
  
    <!-- Container where Tabulator table will be rendered -->
    <div #tabulatorTable></div>
  </div>
  